<div class="container">
  <header class="header">
  <div class="logo">
    <img src="../../assets/OIG.png" alt="Logo de la marca">
  </div>
  <nav>
    <ul class="nav-links">
      <li><a class="<%= pageTitle === 'rutinas' ? 'active' : '' %>" href="/routines">Rutinas</a></li>
      <li><a class="<%= pageTitle === 'maquinas' ? 'active' : '' %>" href="/machines">Maquinas</a></li>
      <li><a class="<%= pageTitle === 'perfil' ? 'active' : '' %>" href="/profile"><%= name %></a></li>
      <li><a style="background-color: rgb(205, 7, 7);" class="active" href="/logout">Cerrar Sesion</a></li>
    </ul>
  </nav>
  <a onclick="openNav()" class="menu" href="#"><button>Menu</button></a>

  <div id="mobile-menu" class="overlay">
    <a onclick="closeNav()" href="" class="close">&times;</a>

    <div class="overlay-content">
      <a class="<%= pageTitle === 'rutinas' ? 'active' : '' %>" href="/routines">Rutinas</a>
      <a class="<%= pageTitle === 'maquinas' ? 'active' : '' %>" href="/machines">Maquinas</a>
      <a class="<%= pageTitle === 'perfil' ? 'active' : '' %>" href="/profile"><%= name %></a>
      <a style="background-color: rgb(205, 7, 7);" class="active" href="/logout">Cerrar Sesion</a>
    </div>
  </div>

  <script>
    function openNav() {
      document.getElementById("mobile-menu").style.width = "100%";
    }

    function closeNav() {
      document.getElementById("mobile-menu").style.width = "0%";
    }
  </script>

</header>
</div>

